@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/scss/project-ui-styles.scss';

* {
  -webkit-font-smoothing: subpixel-antialiased;

  &::selection {
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
  }

  p {
    line-height: 28px;
  }
}

/* You can add global styles to this file, and also import other style files */
