// Mona Sans with variable font face for all weights as woff2
@font-face {
  font-family: 'Mona Sans';
  src: url('./MonaSans.woff2') format('woff2 supports variations'),
    url('./MonaSans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
